################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Build/.vs/Imagine/v15
/Bin
/Build/Debug
/Build/Release
